<storaji-navbar></storaji-navbar>
<storaji-sidebar></storaji-sidebar>
<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <storaji-products-add (update)="onUpdate($event)"></storaji-products-add>
      <div class="uk-card uk-card-default uk-card-body" products-table>
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
            <tr>
              <th class="uk-width-auto">
                <span uk-icon="icon: image;"></span>
              </th>
              <th class="uk-width-medium">{{ 'table.name' | translate }}</th>
              <th>{{ 'table.sku' | translate }}</th>
              <th>{{ 'table.type' | translate }}</th>
              <th>{{ 'table.stock' | translate }}</th>
              <th>{{ 'table.status' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="products && !products.length">
              <th colspan="6" class="uk-text-center">{{ 'table.no-data' | translate }}</th>
            </tr>
            <tr *ngFor="let product of products">
              <td>
                <span class="uk-icon uk-icon-image" style="background-image: url(favicon.ico);"></span>
              </td>
              <td class="uk-table-link">
                <a [routerLink]="['../products', product.id]" class="uk-link-reset">{{product.name}}</a>
              </td>
              <td>{{product.sku}}</td>
              <td>{{(product.type) ? product.type.name : product.type}}</td>
              <td>{{product.stock}}</td>
              <div *ngIf="(product.stock > 0); then ok else not"></div>
              <ng-template #ok>
                <td>
                  <span uk-icon="icon: check;"></span> {{ 'text.in-stock' | translate }}</td>
              </ng-template>
              <ng-template #not>
                <td>
                  <span uk-icon="icon: close;"></span> {{ 'text.sold-out' | translate }}</td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>