<div uk-sticky class="uk-navbar-container tm-navbar-container">
  <div class="uk-container uk-container-expand">
    <nav uk-navbar>
      <div class="uk-navbar-left">
        <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon ></a>
        <a routerLink="/" class="uk-navbar-item uk-logo">
          {{globals.webtitle}}
        </a>
      </div>
      <div class="uk-navbar-right uk-light">
        <ul class="uk-navbar-nav">
          <li class="uk-active">
            <a href="#">Admin &nbsp;<span class="ion-ios-arrow-down"></span></a>
            <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-nav-header">Options</li>
                <li><a routerLink="/">Edit Profile</a></li>
                <li class="uk-nav-header">Actions</li>
                <li><a (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
