<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div class="uk-child-width-1-1@s uk-child-width-1-1@m uk-child-width-1-1@xl">
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <article class="uk-article">
              <h1 class="uk-article-title">
                <a class="uk-link-reset" routerLink="/">Heading</a>
              </h1>
              <p class="uk-article-meta">
                Written by <a routerLink="/">Super User</a> on 12 April 2012. Posted in <a routerLink="#">Blog</a>
              </p>
              <p class="uk-text-lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <div>
                  <a class="uk-button uk-button-text" routerLink="/">Read more</a>
                </div>
                <div>
                  <a class="uk-button uk-button-text" routerLink="/">5 Comments</a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
