<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div class="uk-child-width-1-1@s uk-child-width-1-1@m uk-child-width-1-1@xl">
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <table class="uk-table uk-table-responsive uk-table-divider">
               <thead>
                  <tr>
                     <th>Table Heading</th>
                     <th>Table Heading</th>
                     <th>Table Heading</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Table Data</td>
                     <td>Table Data</td>
                     <td>Table Data</td>
                  </tr>
                  <tr>
                     <td>Table Data</td>
                     <td>Table Data</td>
                     <td>Table Data</td>
                  </tr>
                  <tr>
                     <td>Table Data</td>
                     <td>Table Data</td>
                     <td>Table Data</td>
                  </tr>
               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
