<storaji-navbar></storaji-navbar>
<storaji-sidebar></storaji-sidebar>
<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <storaji-customers-edit [customer]="customer" (update)="onUpdate($event)"></storaji-customers-edit>
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin uk-margin-remove-top" uk-grid>
        <div class="uk-width-1-1@m">
          <div class="uk-card-body">
            <div class="uk-grid-small uk-grid-divider uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
              <div class="uk-width-1-1@s uk-width-1-1@m">
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.customer-name' | translate }}</h6>
                <h1 class="uk-card-title uk-margin-remove">{{ (customer != null) ? customer.full_name : null }}</h1>
                <hr class="uk-divider-icon">
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.company-name' | translate }}</h6>
                <span class="uk-text-bold">{{ (customer != null) ? customer.company_name : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.email' | translate }}</h6>
                <span class="uk-text-bold">{{ (customer != null) ? customer.email : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.postal-code' | translate }}, {{ 'form.label.city' | translate }}</h6>
                <span class="uk-text-bold">{{ (customer != null) ? customer.postal_code : null }}, {{ (customer != null) ? customer.city : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.country' | translate }}</h6>
                <span class="uk-text-bold">{{ (customer != null) ? customer.country : null }}</span>
              </div>
              <div class="uk-width-1-1@s uk-width-1-1@m">
                <hr class="uk-divider-icon">
                <dl class="uk-description-list">
                  <dt>{{ 'form.label.address' | translate }}</dt>
                  <dd>{{ (customer != null) ? customer.address : null }}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>