<div id="sidebar" class="tm-sidebar-left uk-background-default">
  <ul class="uk-nav uk-nav-default">
    <li class="uk-nav-header">
      {{globals.webtitle}} Elements
    </li>
    <li><a [routerLink]="['dashboard/articles']">Articles</a></li>
    <li><a [routerLink]="['dashboard/tables']">Tables</a></li>
    <li><a [routerLink]="['dashboard/products']">Products</a></li>
    <li class="uk-nav-header">
      Pages
    </li>
    <li><a [routerLink]="['login']">Login</a></li>
    <li><a [routerLink]="['register']">Register</a></li>
    <li><a [routerLink]="['404']">404</a></li>
  </ul>
</div>
