<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div class="uk-card uk-card-default uk-card-body">
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
            <tr>
              <th class="uk-width-auto"><span uk-icon="icon: image;"></span></th>
              <th class="uk-width-medium">Name</th>
              <th>SKU</th>
              <th>Type</th>
              <th>Stock</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="uk-icon uk-icon-image" style="background-image: url(favicon.ico);"></span>
              </td>
              <td class="uk-table-link">
                <a [routerLink]="['../products', 1]" class="uk-link-reset">Product Name 1</a>
              </td>
              <td>STR-TO-P1</td>
              <td>Type One</td>
              <td>233</td>
              <td>
                <span uk-icon="icon: close;"></span> Sold out
              </td>
            </tr>
            <tr>
              <td>
                <span class="uk-icon uk-icon-image" style="background-image: url(favicon.ico);"></span>
              </td>
              <td class="uk-table-link">
                <a [routerLink]="['../products', 2]" class="uk-link-reset">Product Name 2</a>
              </td>
              <td>STR-TT-P2</td>
              <td>Type Two</td>
              <td>103</td>
              <td>
                <span uk-icon="icon: check;"></span> In stock
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
