<storaji-navbar></storaji-navbar>
<storaji-sidebar></storaji-sidebar>
<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <storaji-orders-add (update)="init()"></storaji-orders-add>
      <div>
        <div class="uk-card uk-card-default uk-card-body" #chart>
          <h2 class="uk-card-title">{{ 'text.graph.title' | translate }}</h2>
          <chart [options]="options" (load)="saveInstance($event.context)"></chart>
        </div>
      </div>
      <div class="uk-margin-small-top">
        <div class="uk-card uk-card-default uk-card-body">
          <h2 class="uk-card-title">{{ 'text.stat.financial' | translate }}</h2>
          <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s uk-text-left" uk-grid>
            <div class="uk-text-uppercase">
              {{ 'text.stat.revenue' | translate }}
              <br/> {{ (stat != null) ? currency.set(stat.stats.revenue).format(format) : null }}
            </div>
            <div class="uk-text-uppercase">
              {{ 'text.stat.cost' | translate }}
              <br/> {{ (stat != null) ? currency.set(stat.stats.cost).format(format) : null }}
            </div>
            <div class="strj-items-wr uk-text-uppercase">
              {{ 'text.stat.profit' | translate }}
              <br/> {{ (stat != null) ? currency.set(stat.stats.profit).format(format) : null }}
            </div>
          </div>
          <h2 class="uk-card-title">{{ 'text.stat.total' | translate }}</h2>
          <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s uk-text-left" uk-grid>
            <div class="uk-text-uppercase">
              <a [routerLink]="['./products']">{{ (stat != null) ? stat.products : 0 }} {{ 'module.title.product' | translate }}</a>
            </div>
            <div class="uk-text-uppercase">
              <a [routerLink]="['./customers']">{{ (stat != null) ? stat.customers : 0 }} {{ 'module.title.customer' | translate }}</a>
            </div>
            <div class="uk-text-uppercase">
              <a [routerLink]="['./orders']">{{ (stat != null) ? stat.orders : 0 }} {{ 'module.title.transaction' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin-small-top">
        <div class="uk-card uk-card-default uk-card-body">
          <h2 class="uk-card-title">{{ 'text.stat.top-selling' | translate }}</h2>
          <table class="uk-table uk-table-justify uk-table-divider">
            <thead>
              <tr>
                <th class="uk-width-small">{{ 'table.number' | translate }}</th>
                <th>{{ 'table.name' | translate }}</th>
                <th>{{ 'module.title.order' | translate }}</th>
                <th>{{ 'table.sold' | translate }}</th>
                <th>{{ 'table.status' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="top_products && !top_products.length">
                <th colspan="5" class="uk-text-center">No Data</th>
              </tr>
              <tr *ngFor="let product of top_products; let i=index;">
                <td>#{{i+1}}</td>
                <td>
                  <a [routerLink]="['./products', product.id]" class="uk-link-reset">
                    {{product.name}}
                  </a>
                </td>
                <td>{{product.orders}}</td>
                <td>{{product.sold}}</td>
                <div *ngIf="(product.stock > 0); then ok else not"></div>
                <ng-template #ok>
                  <td>
                    <span uk-icon="icon: check;"></span> {{ 'text.in-stock' | translate }}</td>
                </ng-template>
                <ng-template #not>
                  <td>
                    <span uk-icon="icon: close;"></span> {{ 'text.sold-out' | translate }}</td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>