<storaji-navbar></storaji-navbar>
<storaji-sidebar></storaji-sidebar>
<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin uk-margin-remove-top" uk-grid>
        <div class="uk-width-1-1@m">
          <div class="uk-card-body">
            <div class="uk-grid-small uk-grid-divider uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
              <div class="uk-width-1-1@s uk-width-1-1@m">
                <h6 class="uk-margin-remove uk-text-uppercase">Order ID</h6>
                <h1 class="uk-card-title uk-margin-remove uk-text-uppercase" *ngIf="order">#{{ order.id.split('-')[0] }}</h1>
                <hr class="uk-divider-icon">
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Product Name</h6>
                <span class="uk-text-bold" *ngIf="order">{{ order.order_detail.product.name }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Customer Name</h6>
                <span class="uk-text-bold" *ngIf="order">{{ order.customer.full_name }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Amount</h6>
                <span class="uk-text-bold" *ngIf="order">{{ order.order_detail.amount }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Date</h6>
                <span class="uk-text-bold" *ngIf="order">{{ order.created_at }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
