<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h2 class="uk-card-title">Financials</h2>
          <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s uk-text-left" uk-grid>
              <div class="uk-text-uppercase">
                  Revenue<br/>
                  $21,293,485.00
              </div>
              <div class="uk-text-uppercase">
                  Cost<br/>
                  $11,384,121.00
              </div>
              <div class="strj-items-wr uk-text-uppercase">
                  Profit<br/>
                  $9,909,364.00
              </div>
          </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body">
          <h2 class="uk-card-title">Totals</h2>
          <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s uk-text-left" uk-grid>
              <div class="uk-text-uppercase">
                  <a href="#">Products</a><br/>
                  20
              </div>
              <div class="uk-text-uppercase">
                  <a href="#">Customers</a><br/>
                  512
              </div>
              <div class="uk-text-uppercase">
                  <a href="#">Transactions</a><br/>
                  3210
              </div>
          </div>
        </div>
      </div>
      <div class="uk-margin-medium-top">
        <div class="uk-card uk-card-default uk-card-body">
          <h2 class="uk-card-title">Top Selling Products</h2>
          <table class="uk-table uk-table-justify uk-table-divider">
            <thead>
              <tr>
                <th class="uk-width-small"><span uk-icon="icon: image;"></span></th>
                <th>Name</th>
                <th>Sold</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="uk-icon uk-icon-image" style="background-image: url(favicon.ico);"></span>
                </td>
                <td>Product Name 1</td>
                <td>233</td>
                <td>
                  <span uk-icon="icon: close;"></span> Sold out
                </td>
              </tr>
              <tr>
                <td>
                  <span class="uk-icon uk-icon-image" style="background-image: url(favicon.ico);"></span>
                </td>
                <td>Product Name 2</td>
                <td>103</td>
                <td>
                  <span uk-icon="icon: check;"></span> In stock
                </td>
              </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
