<div class="content-background">
  <div class="uk-card uk-card-default uk-position-center uk-text-center uk-width-1-3">
    <div class="uk-card-media-top">
      <img src="assets/storaji.png" alt="{{ app.name }}">
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title uk-margin-small-bottom uk-text-capitalize">{{ app.name }}</h3>
      <p class="uk-text-meta uk-margin-remove">Version</p>
      <p class="uk-text-meta uk-margin-remove">{{ app.version }}</p>
      <p class="uk-text-meta">Storaji &copy; 2017, Indomaxim Technology</p>
    </div>
  </div>
</div>