<storaji-navbar></storaji-navbar>
<storaji-sidebar></storaji-sidebar>
<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <products-edit></products-edit>
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin uk-margin-remove-top" uk-grid>
        <div class="uk-width-1-3@m uk-card-media-left uk-cover-container uk-background-muted">
          <img width="100%" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </div>
        <div class="uk-width-2-3@m">
          <div class="uk-card-body">
            <div class="uk-grid-small uk-grid-divider uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
              <div class="uk-width-1-1@s uk-width-1-1@m">
                <h6 class="uk-margin-remove uk-text-uppercase">Name</h6>
                <h1 class="uk-card-title uk-margin-remove">{{ (product) ? product.name : null }}</h1>
                <hr class="uk-divider-icon">
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Type</h6>
                <a href="#" class="uk-link-reset">
                  <span class="uk-label">
                    <span uk-icon="icon: tag; ratio: 1;"></span> {{ (product && product.type) ? product.type.name : null }}
                  </span>
                </a>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">SKU</h6>
                <span class="uk-text-bold">{{ (product) ? product.sku : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Stock</h6>
                <span class="uk-text-bold">{{ (product) ? product.stock : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Sold</h6>
                <span class="uk-text-bold">0</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Cost</h6>
                <span class="uk-text-bold">{{ (product) ? product.cost : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">Selling Price</h6>
                <span class="uk-text-bold">{{ (product) ? product.selling_price : null }}</span>
              </div>
              <div class="uk-width-1-1@s uk-width-1-1@m">
                <hr class="uk-divider-icon">
                <dl class="uk-description-list">
                    <dt>Description</dt>
                    <dd>{{ (product) ? product.description : null }}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
