<storaji-navbar></storaji-navbar>
<storaji-sidebar></storaji-sidebar>
<div class="content-padder content-background">
  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <storaji-products-edit [product]="product" (update)="onUpdate($event)"></storaji-products-edit>
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin uk-margin-remove-top" uk-grid>
        <div class="uk-width-1-3@m uk-card-media-left uk-cover-container uk-background-muted" uk-form-custom>
          <input type="file" name="picture" (change)="onUpload($event)">
          <img width="100%" [src]="(product != null) ? _domSanitizer.bypassSecurityTrustUrl(product.image) : null">
        </div>
        <div class="uk-width-2-3@m">
          <div class="uk-card-body">
            <div class="uk-grid-small uk-grid-divider uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
              <div class="uk-width-1-1@s uk-width-1-1@m">
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.name' | translate }}</h6>
                <h1 class="uk-card-title uk-margin-remove">{{ (product != null) ? product.name : null }}</h1>
                <hr class="uk-divider-icon">
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.type' | translate }}</h6>
                <a href="#" class="uk-link-reset">
                  <span class="uk-label">
                    <span uk-icon="icon: tag; ratio: 1;"></span> {{ (product && product.type) ? product.type.name : null }}
                  </span>
                </a>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.sku' | translate }}</h6>
                <span class="uk-text-bold">{{ (product) ? product.sku : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.stock' | translate }}</h6>
                <span class="uk-text-bold">{{ (product) ? product.stock : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.sold' | translate }}</h6>
                <span class="uk-text-bold">{{ (product && product.sold) ? product.sold.amount : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.cost' | translate }}</h6>
                <span class="uk-text-bold">{{ (product) ? product.cost : null }}</span>
              </div>
              <div>
                <h6 class="uk-margin-remove uk-text-uppercase">{{ 'form.label.selling-price' | translate }}</h6>
                <span class="uk-text-bold">{{ (product) ? product.selling_price : null }}</span>
              </div>
              <div class="uk-width-1-1@s uk-width-1-1@m">
                <hr class="uk-divider-icon">
                <dl class="uk-description-list">
                  <dt>{{ 'form.label.description' | translate }}</dt>
                  <dd>{{ (product != null) ? product.description : null }}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-card uk-card-default uk-card-body" customers-table>
        <h3 class="uk-text-muted uk-text-small uk-text-bold">{{ 'text.customers-who-bought-this-product' | translate }}</h3>
        <hr class="uk-divider-icon">
        <button class="uk-button uk-button-primary uk-margin-small" type="button" *ngIf="!customers" (click)="loadCustomers()">{{ 'form.button.show-customers' | translate }}</button>
        <table class="uk-table uk-table-justify uk-table-divider" *ngIf="customers">
          <thead>
            <tr>
              <th class="uk-width-auto">{{ 'table.customer.id' | translate }}</th>
              <th class="uk-width-medium">{{ 'table.customer.name' | translate }}</th>
              <th>{{ 'table.company.name' | translate }}</th>
              <th>{{ 'form.label.email' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="customers && !customers.length">
              <th colspan="4" class="uk-text-center">{{ 'table.no-data' | translate }}</th>
            </tr>
            <tr *ngFor="let customer of customers; let i=index;">
              <td class="uk-text-uppercase">#{{customer.id.split('-')[0]}}</td>
              <td class="uk-table-link">
                <a [routerLink]="['/dashboard/customers', customer.id]" class="uk-link-reset">{{customer.full_name}}</a>
              </td>
              <td>{{customer.company_name}}</td>
              <td>{{customer.email}}</td>
            </tr>
            <tr *ngIf="customers">
              <th class="uk-text-right" colspan="4">{{ customers.length }} {{ 'module.title.customer' | translate }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>